<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts/main">
	<head>
	    <title>Search of products</title>
	</head>
<body>
	<div layout:fragment="content">
		<nav layout:include="layouts/menu_navbar"></nav>
		
		<!-- Not products -->
		<div th:if="${ areProducts }">
			
			<div class="col-md-8 col-md-offset-2">
			
				<div class="alert alert-warning">
					<h3>There are no products on this <span th:text="${ searchedName }"></span></h3>
				</div>
			
			</div>
		
		</div>
		
		<!-- Are products -->
		<div th:if="!${ areProducts }">

		    <div class="container">
		
				<h1>Search for: <small th:text="${ searchedName }"></small></h1>
				<hr />
			
				<div th:each="product : ${ allProducts }" class="col-md-3 product-card">
				    <div class="thumbnail">
				    	<img th:src="@{/img/products/} + ${product.image}" width="140" />
				    	<div class="caption">
				            <h3 th:text="${ product.name }"></h3>
				            <p>Cras justo odio, dapibus ac facilisis in.</p>
				            <p>
				            	<a th:href="@{/shop/products/} + ${ product.name }" class="btn btn-primary" role="button">Show product</a>
				            </p>
				        </div>
				    </div>
				</div>
				
			</div>
		</div>

	</div>
</body>
</html>
